apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
    tad.gitops.set/image: ".spec.template.spec.containers[0].image"
    tad.gitops.get/image: ".spec.template.spec.containers[0].image"
    tad.gitops.set/replicas: ".spec.replicas"
    tad.gitops.get/replicas: ".spec.replicas"
  name: backend-tests-java-springboot-ixtbhgnz
spec:
  replicas: 1
  template:
    spec:
      containers:
        - image: quay.io/rhtap_qe/backend-tests-java-springboot-ixtbhgnz:b76386bb16ade64396e0444e23f081f2fb6299ce@sha256:ff41ef0207ece22f40557bd3bee506b627a2870ae35c82221e0ced382b9ea939
          name: container-image
